/* .container{
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
} */
.app {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #2C3639;
}

.board {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, 1fr);
  height: 50vh;
  width: 50%;
}

.row h4 {
  text-align: center;
}

.board {
  border: 4px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

.row {
  color: lightgray;
  font-size: 30px;
  letter-spacing: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  ;
  grid-template-rows: 1fr
    /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
}

.container div:first-child {
  margin: 0;
}

.container div:nth-child(odd) {
  /* background-color: coral; */
}

.container div:nth-child(even) {
  /* background-color: lightgreen; */
  background-color: #3F4E4F;
}


.row h4 {
  /* color: red; */
}